<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      >
    <head>
        <f:loadBundle basename="messages.Messages" var="messages" />

        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>

        <title><ui:insert name="title">##Please specify title !##</ui:insert></title>
        <style type="text/css" title="currentStyle" media="screen">
            @import url('${facesContext.externalContext.requestContextPath}/themes/bootstrap/css/bootstrap.min.css')
        </style>
        <style type="text/css">
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
            .table td.money {
                text-align: right;
            }
        </style>        
    </head>
    <body>
        <div id="navbarBankonet" class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#"><h:outputText value="#{messages['application.title']}" /></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="${facesContext.externalContext.requestContextPath}/tp3/index.jsf">Home</a></li>
                            <ui:fragment rendered="#{!empty loginBean.currentUserClient}">
                                <li class="active"><h:outputText value="#{messages['navbarBankonet.helloUser']}" /> #{loginBean.login}<h:form styleClass=".form-search"><h:commandLink id="disconnectLink" value="Se déconnecter" action="#{loginBean.disconnect}"/></h:form></li>
                            </ui:fragment>                            
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>        
        <div class="container">

            <ui:insert name="content">
                ##Missing content##
            </ui:insert>
            <ui:insert name="footer">
                ##Missing footer##
            </ui:insert>
        </div>
    </body>
</html>

