<ui:composition template="../template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                >
    <ui:define name="title">
        Liste des comptes
    </ui:define>
    <ui:define name="content">
        <h2>
            <h:outputText id="listeComptesTitle" value="Listes des comptes"/>
        </h2>

        <h:form id="listeComptesForm" rendered="#{!empty loginBean.currentUserClient}">
            
            <h:dataTable 
                id="listeComptes" 
                var="compte" 
                value="#{myAccountsBean.dataModel}" 
                styleClass="table table-striped table-bordered"
                columnClasses="none,none,none,money,none">
                <h:column id="detailColumn">
                    <h:commandLink id="detailLink" value="Detail" actionListener="#{myAccountsBean.updateSelected}"/>
                </h:column>
                <h:column id="identifiantColumn">
                    <f:facet name="header">
                        <h:outputText id="identifiantText" value="Identifiant"/>
                    </f:facet>
                    <h:outputText id="identifiantValue" value="#{compte.id}"/>
                </h:column>
                <h:column id="libelleColumn">
                    <f:facet name="header">
                        <h:outputText id="libelleText" value="Libelle"/>
                    </f:facet>
                    <h:outputText id="libelleValue" value="#{compte.libelle}"/>
                </h:column>
                <h:column id="soldeColumn">
                    <f:facet name="header">
                        <h:outputText id="soldeText" value="Solde"/>
                    </f:facet>
                    <h:outputText id="soldeValue" value="#{compte.solde}"/>
                </h:column>
                <h:column id="deleteColumn">
                    <h:commandButton id="deleteLink" value="Supprimer"/>
                </h:column>
            </h:dataTable>
            <h:panelGroup rendered="#{!empty myAccountsBean.selectedAccount}">
                <h2>Détail du compte choisi</h2>

                <p> Nom :  #{myAccountsBean.selectedAccount.libelle}</p>
                <p> Solde :  #{myAccountsBean.selectedAccount.solde}</p>
                <h:panelGroup rendered="#{myAccountsBean.selectedAccount['class'].simpleName == 'CompteCourant'}">
                    <p> Decouvert autorise :  #{myAccountsBean.selectedAccount.decouvertAutorise}</p>
                </h:panelGroup>
                <h:panelGroup rendered="#{myAccountsBean.selectedAccount['class'].simpleName == 'CompteEpargne'}">
                    <p> Taux intérêt :  #{myAccountsBean.selectedAccount.tauxInteret}</p>
                    <p> Plafond versement :  #{myAccountsBean.selectedAccount.plafondVersement}</p>
                </h:panelGroup>
            </h:panelGroup>
        </h:form>
        <h:form rendered="#{empty loginBean.currentUserClient}">
            <h:commandLink action="home" value="Merci de vous identifier"/>
        </h:form>
    </ui:define>
    <ui:define name="footer">
        Copyright @Bankonet
    </ui:define>    
</ui:composition>
