<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>

    </h:head>
    <h:body>
        <h1>JEE6 with EJB's and primefaces</h1>
        <h:form id="form">
            <p:dataTable id="personsTable" var="person" value="#{homeBean.personnes}">
                <f:facet name="header">  
                    Person's list 
                </f:facet>

                <p:column headerText="ID">  
                    <h:outputText value="#{person.id}" />  
                </p:column>  

                <p:column headerText="First name">  
                    <h:outputText value="#{person.firstname}" />  
                </p:column>  

                <p:column headerText="Last Name">  
                    <h:outputText value="#{person.lastname}" />  
                </p:column>  

            </p:dataTable>  

            <h2>New personne creation</h2>

            <p:panel id="panel" header="New Person" style="margin-bottom:10px;">  
                <p:messages id="messages" />  
                <h:panelGrid columns="3">  
                    <h:outputLabel for="firstname" value="Firstname: *" />  
                    <p:inputText id="firstname"   
                                 value="#{homeBean.firstName}" required="true" label="Firstname">  
                        <f:validateLength minimum="2" />  
                    </p:inputText>  
                    <p:message for="firstname" />  

                    <h:outputLabel for="surname" value="Surname: *" />  
                    <p:inputText id="surname"   
                                 value="#{homeBean.lastName}" required="true" label="Surname"/>  
                    <p:message for="surname" />  
                </h:panelGrid>  
            </p:panel>  

            <p:commandButton value="Save (ajax!)" 
                             update="panel,personsTable" 
                             id="toto"  
                             actionListener="#{homeBean.savePersonneInDB}" />
        </h:form>
    </h:body>
</html>

