<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" 
                xmlns:f="http://java.sun.com/jsf/core"
                >
    <ui:define name="title">
        Liste des comptes
    </ui:define>
    <ui:define name="content">
        <h2>
            <h:outputText id="listeComptesTitle" value="Listes des comptes"/>
        </h2>
        <h:form id="listeComptesForm">
            <h:dataTable id="listeComptes" var="compte" value="#{myAccountsBean.dataModel}" styleClass="table">
                <h:column id="detailColumn">
                    <h:commandLink id="detailLink" value="Detail"/>
                </h:column>
                <h:column id="identifiantColumn">
                    <f:facet name="header">
                        <h:outputText id="identifiantText" value="Identifiant"/>
                    </f:facet>
                    <h:outputText id="identifiantValue" value="#{compte.id}"/>
                </h:column>
                <h:column id="libelleColumn">
                    <f:facet name="header">
                        <h:outputText id="libelleText" value="Libelle"/>
                    </f:facet>
                    <h:outputText id="libelleValue" value="#{compte.libelle}"/>
                </h:column>
                <h:column id="soldeColumn">
                    <f:facet name="header">
                        <h:outputText id="soldeText" value="Solde"/>
                    </f:facet>
                    <h:outputText id="soldeValue" value="#{compte.solde}"/>
                </h:column>
                <h:column id="deleteColumn">
                    <h:commandButton id="deleteLink" value="Supprimer"/>
                </h:column>
            </h:dataTable>
        </h:form>
        <h2>Détail du compte</h2>
        <h:panelGroup layout="block" rendered="#{myAccountsBean.selectedAccount != null}">
            <p> Nom :  <h:outputText value="#{myAccountsBean.selectedAccount.libelle}"/></p>
            <p> Solde :  <h:outputText value="#{myAccountsBean.selectedAccount.solde}"/></p>
        </h:panelGroup>
    </ui:define>
    <ui:define name="footer">
        Copyright @Bankonet
    </ui:define>    
</ui:composition>
