<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="./../WEB-INF/templates/baseTemplate.xhtml"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="styles">
        <style>
            body { padding-top: 50px; }
        </style>
    </ui:define>
    <ui:define name="container">

        <h1>Subscription</h1>
        <h:panelGroup rendered="#{!wizardBean.currentWizardStarted}">
            <h:form>
                <p>To start a new subscription process :
                    <h:commandButton value="Bein" actionListener="#{wizardBean.begin}"/>
                </p>
            </h:form>
        </h:panelGroup>

        <h:panelGroup rendered="#{wizardBean.currentWizardStarted}">
            <ui:include src="wiz-#{wizardBean.step}.xhtml" />
        </h:panelGroup>

    </ui:define>

</ui:composition>
