<?xml version='1.0' encoding='UTF-8' ?>
<ui:component
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:h="http://java.sun.com/jsf/html">
    <h2>Identité</h2>
    <h3>Coordonnées</h3>
    <h:form id="step1Form" styleClass="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="name">Nom</label>
            <div class="controls">
                <h:inputText id="name" value="#{step1Bean.name}" required="true" requiredMessage="Valeur obligatoire"/>
                <span><h:message errorStyle="color:red" for="name"/></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="surname">Prénom</label>
            <div class="controls">
                <h:inputText id="surname" value="#{step1Bean.surname}" required="true" requiredMessage="Valeur obligatoire"/>
                <span><h:message errorStyle="error" for="surname"/></span>
            </div>
        </div>
        <div class="form-actions">
            <h:commandButton styleClass="btn" value="Sauver pour plus tard" />&#160;
            <h:commandButton styleClass="btn btn-primary" value="Suivant" actionListener="#{step1Bean.tryToValidateStepAndAdvanceWizardIfOk}"/>
        </div>
    </h:form>
</ui:component>