<?xml version='1.0' encoding='UTF-8' ?>
<ui:component
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui">
    <h2>Versement (transaction id : #{wizardBean.transactionId})</h2>
    <h:form id="step2Form">
        <p:panel header="Informations très très importantes" toggleable="true" id="panel">
            <p:autoComplete id="acSimple"
                            value="#{step2Bean.whatever}"
                            completeMethod="#{step2Bean.getAllPossibleWhatever}"/>
        </p:panel>
        <p><h:commandButton actionListener="#{step2Bean.tryToValidateStepAndAdvanceWizardIfOk}"/></p>
    </h:form>
</ui:component>