<?xml version='1.0' encoding='UTF-8' ?>
<ui:component
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:h="http://java.sun.com/jsf/html">
    <h2>Step 4 - Done (transaction id : #{wizardBean.transactionId})</h2>
    <h:form id="step4Form">
        <p>Congrats, you completed the survey !</p>
        <p>Here is a quick recap of your informations ...</p>

        <p><h:commandButton value="Ok, just leave !" actionListener="#{wizardBean.destroy}"/></p>
    </h:form>
</ui:component>