<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:component
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:h="http://java.sun.com/jsf/html">
    <h2>Step 3 (transaction id : #{wizardBean.transactionId})</h2>
    <h:form id="step3Form">

        <p><h:commandButton value="done!" actionListener="#{step2Bean.tryToValidateStepAndAdvanceWizardIfOk}"/></p>
    </h:form>
</ui:component>