<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <head>
        <title>Formation JSF - Page de login</title>
    </head>
    <body>
        <h1>
            <h:outputText id="welcomePageTitle" value="Bienvue sur l'application Bankonet"/>
        </h1>
        <h:form id="loginForm">
            <h:panelGrid columns="2">
                <h:outputLabel id="loginLabel" value="Login :"/>
                <h:inputText id="loginInputText" value="#{loginBean.login}"/>
                <h:outputLabel id="passwordLabel" value="Password :"/>
                <h:inputSecret id="passwordInputText" value="#{loginBean.password}"/>

                <h:commandButton id="validerButton" value="Valider"/>
            </h:panelGrid>
        </h:form>
    </body>
</html>

